.main {
    background-color: rgba(125, 24, 51, 1);
    width: 1100px;
    height: fit-content;
    margin:auto;
    padding: 10px;
}
img {
    width: 240px;
    height: 200px;
    border: 7px solid orange;
    margin-bottom: 5px;
    float: right;
    margin-left: 5px;
}
.img1 {
    width: 300px;
    height: 418px;
    float: left;

}
body {
    background-image: url(img/background.png);
}